body{
margin: 20px;
background-color: antiquewhite;
border-color: black ;
border-width: 4px;
border-style: dashed;
}




naglowek{
    margin: 60px;
    color:brown;
    font-size: x-large;
}


czcionka{
font-size: large;



}



obrazek{


}





