body{
margin: 50px;
background-color: antiquewhite;
border-style: solid;
border-color: black ;
border-width: 3px;
}




naglowek{
    
    color:brown;
    font-size: x-large;
}


czcionka{
font-size: large;



}



obrazek{


}





