body{

    margin: 20px;
    background-color: antiquewhite;
    border-color: black ;
    border-width: 4px;
    border-style: dashed;
    max-width: 700px;
    margin: auto;
}s

ramka{

    max-width: 700px;
   
  

}


naglowek{
    margin: 40px;
    color:brown;
    font-size: x-large;
}


costam{
font-size: large;


}



obrazek{


}





